<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>Vets List Page</title>
</head>
<body>
    <h1 th:text="'Vets List'">Vets List</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vet : ${vets}">
            <td th:text="${vet.id}">1</td>
            <td th:text="${vet.firstName}">First name</td>
            <td th:text="${vet.lastName}">Last name</td>
        </tr>
        </tbody>
    </table>
</body>
</html>